form {
    display: flex;
    width: 350px;
    margin: auto;
    flex-direction: column;
    padding: 10px 20px;
    right: 0;
    border-radius: 8px;
    background-color:  rgb(11, 218, 233);
    justify-content: center;
  }
  input,
  button {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid black;
  }
  button {
    cursor: pointer;
  }
  .extraLabel{
    height: 200px;
  }
  button{
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    color: black;
    font-size: 15px;
    font-weight: 700;
    cursor:pointer;
}
.d1{
    width: 350px;
    background-color:  rgb(11, 218, 233);
    border-radius: 8px;
}