
<div class="body">
<div class="navigation">
    <ul>
        <li class="list active">
            <a href="#">
                <span class="icon">
                    <ion-icon name="home-outline"></ion-icon>
                </span>
                <span class="text">Home</span>
            </a>
        </li>
        <li class="list">
            <a href="#">
                <span class="icon">
                    <ion-icon name="restaurant-outline"></ion-icon>
                </span>
                <span class="text">Przepisy</span>
            </a>
        </li>
        <li class="list">
            <a href="#">
                <span class="icon">
                    <ion-icon name="accessibility-outline"></ion-icon>
                </span>
                <span class="text">Profil</span>
            </a>
        </li>
        <li class="list">
            <a href="#">
                <span class="icon">
                    <ion-icon name="information-circle-outline"></ion-icon>
                </span>
                <span class="text">O Nas</span>
            </a>
        </li>
        <li class="list">
            <a href="#">
                <span class="icon">
                    <ion-icon name="call-outline"></ion-icon>
                </span>
                <span class="text">Kontakt</span>
            </a>
        </li>
        <div class="indicator"></div>
    </ul>

</div>
<script src="..." async>
</script>
</div>