<form [formGroup]="formModel" (ngSubmit)="onAddCategory()">
    <h2>Dodanie nowej kategorii dań :)</h2>
    <label for="name">Nazwa kategorii:</label>
    <input type="text" formControlName="name">
    <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="alert">
        <div *ngIf="name?.errors?.['required']">
            Nazwa jest wymagana.
          </div>
          <div *ngIf="name?.errors?.['minlength']">
            Nazwa musi mieć co najmniej 3 znaki.
          </div>
    </div>
    <input type="submit" value="Dodaj" *ngIf="formModel.valid" />
</form>
