<app-header></app-header>
<body>
    <div class="box">
        <div class="form">
            <h2>Zaloguj się</h2>
            <div class="inputBox">
                <input type="text" required="required">
                <span>Nazwa użytkownika</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" required="required">
                <span>Hasło</span>
                <i></i>
            </div>
            <div class="links">
                <a href="#"> Zapomniałem hasła</a>
                <a href="#"> Załóż konto</a>
            </div>
            <div>
                <input type="submit" value="Zaloguj">
            </div>
        </div>
    </div>
</body>