<!--    <div class="card">
        <div class="image">
            <img width="500" height="195" src={{imgSrc}} alt="">
        </div>
        <div class="info">
            <div class="title">
                <h3>{{meal.name}}</h3>
                <p>Ocena: {{meal.rating}}</p>
            </div>
            <span *ngIf = "isClicked">
                <input type="text" [(ngModel)]="meal.rating"/>
                <button (click) = "doUnClick()">Chowaj Edytor</button>
            </span>
            <div class="Time">
                Czas
                <ion-icon name="time-outline"></ion-icon>: {{meal.realizationTime}} minut
            </div>
        </div>
        <div class="btn">
            <button class="btn">Pokaz przepis</button>
        </div>
    </div>-->"
<div class="card" *ngIf="showDetails===-1">
  <div class="image">
    <img width="500" height="195" src={{imgSrc}} alt="">
  </div>
  <div class="info">
    <div class="title">
      <h3>{{meal.Name}}</h3>
      <h6 style="color: orange">{{category}}</h6>
      <p>Poziom trudności: {{meal.Rating}}</p>
    </div>
    <!-- <span *ngIf = "isClicked">
                <input type="text" [(ngModel)]="meal.Rating"/>
                <button (click) = "doUnClick()">Chowaj Edytor</button>
            </span> -->
    <div class="Time">
      Czas
      <ion-icon name="time-outline"></ion-icon>: {{meal.TimePrep}} minut
    </div>
  </div>
  <div class="btn">
    <button (click)="ShowDetails()" class="btn">Pokaz przepis</button>
    <button (click)="deleteThisMeal()">Usuń</button>
  </div>
  <div class="Dis">
    <p>{{mealDis}}</p>
  </div>
  <app-delete-meal-proto *ngIf="mealToDelete!=-1" (isDelete)="isDelete($event)"></app-delete-meal-proto>
</div>


<div class="cardDetails" *ngIf="showDetails!=-1">
  <div class="image">
    <img width="500" height="195" src={{imgSrc}} alt="">
  </div>
  <div>
    <div class="info">
      <div class="title">
        <h3>{{meal.Name}}</h3>
        <h6 style="color: orange">{{category}}</h6>
        <p>Poziom trudności: {{meal.Rating}}</p>
        <ul class="row" *ngFor="let tag of meal.TagsList">
          <span>
              <ion-icon name="pricetags-outline"></ion-icon>{{tag}}
          </span>
      </ul>
        <div class="Time">
          Czas
          <ion-icon name="time-outline"></ion-icon>: {{meal.TimePrep}} minut
        </div>
        <p>Składniki:</p>
        <ul *ngFor="let ingredient of meal.Ingredients">
          <li>
            {{ingredient}}
          </li>
        </ul>
        <div class="discrip">
          <p>Opis przygotowania:</p>
          {{meal.Description}}
        </div>
      </div>
    </div>
  </div>
  <div class="btn">
    <button (click)="HideDetails()" class="btn">Schowaj przepis</button>
    <button (click)="clickOnMeal(meal.Index_nr)">Edytuj przepis</button>
  </div>
