
<!--    <div class="card">
        <div class="image">
            <img width="500" height="195" src={{imgSrc}} alt="">
        </div>
        <div class="info">
            <div class="title">
                <h3>{{meal.name}}</h3>
                <p>Ocena: {{meal.rating}}</p>
            </div>
            <span *ngIf = "isClicked">
                <input type="text" [(ngModel)]="meal.rating"/>
                <button (click) = "doUnClick()">Chowaj Edytor</button>
            </span>
            <div class="Time">
                Czas
                <ion-icon name="time-outline"></ion-icon>: {{meal.realizationTime}} minut
            </div>
        </div>
        <div class="btn">
            <button class="btn">Pokaz przepis</button>
        </div>
    </div>-->
    <div class="card">
        <div class="image">
            <img width="500" height="195" src={{imgSrc}} alt="">
        </div>
        <div class="info">
            <div class="title">
                <h3>{{meal.Name}}</h3>
                <h6 style="color: orange">{{category}}</h6>
                <p>Ocena: {{meal.Rating}}</p>
            </div>
            <span *ngIf = "isClicked">
                <input type="text" [(ngModel)]="meal.Rating"/>
                <button (click) = "doUnClick()">Chowaj Edytor</button>
            </span>
            <div class="Time">
                Czas
                <ion-icon name="time-outline"></ion-icon>: {{meal.TimePrep}} minut
            </div>
        </div>
        <div class="btn">
            <button class="btn">Pokaz przepis</button>
        </div>