<form [formGroup]="formModel" (ngSubmit)="onAddMeal()">
    <label for="name">Nazwa:</label>
    <input type="text" id="name" formControlName="name">

    <label for="timePrep">Czas przygotowania:</label>
    <input type="text" id="timePrep" formControlName="timePrep">

    <label for="index">Numer Indeksu:</label>
    <input type="number" id="index" formControlName="index">

    <label for="rating">Ocena:</label>
    <input type="number" id="rating" formControlName="rating">

    <label for="categoryId">Id kategorii:</label> 
    <input type="number" id="categoryId" formControlName="categoryId">

    <label for="discription">Przepis:</label>
    <textarea class ="extraLabel" type="string" id="discription" formControlName="discription"></textarea>

    <div formArrayName="ingredientsArray">
        <div *ngFor="let ingredient of ingredients.controls; let i=index" [formGroupName]="i">
          <label>Nowy składnik: </label>
          <input type="text" formControlName="ingredient" />
        </div>
      </div>
    <input type="submit" value="Dodaj" />


</form>
<button (click)="moreIngredients()">Dodaj składnik</button>