*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #060a1f;
    height: 85%;
    overflow-y: scroll;
}


ul{
    padding-left: 0px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    list-style-type: none;
}

.wyszukajDanie { 
    padding: 10px 10px 10px 10px;
    border: none;
    margin-left: 25%;
    margin-top: 3vh;
    border-radius: 10px;
    color: black;
    font-size: 15px;
    font-weight: 700;
    cursor:pointer;
    min-width: 50%;
}