*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #060a1f;
    height: 85%;
    overflow-y: scroll;
}
li{
    margin:10px;
}
ul{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    list-style-type: none;
}