<!--<app-header></app-header>
<app-meals></app-meals>
<app-add-meal></app-add-meal>
<app-menu></app-menu>



<app-login-proto></app-login-proto>

<app-categories-proto></app-categories-proto>
<app-meals-proto></app-meals-proto>-->


<!-- <div class="body">
    <div class="navigation">
        <ul>
            <li class="list active">
                    <a routerLink="/Menu">
                    <span class="icon">
                        <ion-icon name="home-outline"></ion-icon>
                    </span>
                    <span class="text">Home</span>
                </a>
            </li>
            <li class="list">
                    <a routerLink="/Kategorie">
                    <span class="icon">
                        <ion-icon name="restaurant-outline"></ion-icon>
                    </span>
                    <span class="text">Przepisy</span>
                </a>
            </li>
            <li class="list">
                <a routerLink="">
                    <span class="icon">
                        <ion-icon name="accessibility-outline"></ion-icon>
                    </span>
                    <span class="text">Profil</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <span class="icon">
                        <ion-icon name="information-circle-outline"></ion-icon>
                    </span>
                    <span class="text">O Nas</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <span class="icon">
                        <ion-icon name="call-outline"></ion-icon>
                    </span>
                    <span class="text">Kontakt</span>
                </a>
            </li>
            <div class="indicator"></div>
        </ul>
    </div>
    <script src="..." async>
    </script>
    </div> -->

<body>
  <app-navigation-bar></app-navigation-bar>
  <router-outlet></router-outlet>
  <footer style="position: fixed;bottom: 0; ">
    FooterFooterFooterFooterFooterFooterFooterFooterFooterFooterFooterFooterFooter
  </footer>
</body>
