<body>
    <div class="body">
        <ul>
            <li *ngFor="let category of categories;index as i; odd as isOdd; even as isEven" (click) = "categoryClicked(i)">
                <span>
                    <app-category-proto  [isClicked]="whichClicked===i" [category] = "category" (doDeleteInParent)="deleteCategory(category)" (showEditForm)="showEditForm($event)"></app-category-proto>
                    <span *ngIf="whichCategoryForEdit==i">
                        <app-edit-category-proto [categoryForEdit]="category" (editMethod1)="doEdit($event)"></app-edit-category-proto>
                    </span>
                </span>
            </li>
        </ul>
    </div>
    <app-add-category-proto (newCategory)="onCategoryAdded($event)"></app-add-category-proto>

</body>
