
<body>
    <div class="body">
        <ul>
            <li *ngFor="let category of categories;index as i; odd as isOdd; even as isEven" (click) = "categoryClicked(i)">
                <a>
                    <!-- <app-category-proto [category] = "category" ></app-category-proto> -->
                    <app-category-proto  [isClicked]="whichClicked===i" [category] = "category" (doDeleteInParent)="deleteCategory(category)"></app-category-proto>
                </a>
            </li>
        </ul>
    </div>
    <app-add-category-proto (newCategory)="onCategoryAdded($event)"></app-add-category-proto>

</body>

